@{
    ViewData["Title"] = "Home Page";
}
<p>This is the test message.</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p>
				short Instructions
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="btn-group">
						<button class="btn btn-default">
							Conversion Type
						</button> 
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="btn btn-default">Speed</a>
							</li>
							<li >
								<a class="btn btn-default">Temperature</a>
							</li>
							<li>
								<a class="btn btn-default">Length</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
						@*Empty*@
				</div>
				<div class="col-md-4">
                    @*Empty*@
				</div>
			</div>
			<div class="row">
                <form role="form">
				<div class="col-md-4">
					 <div class="form-group">
							<label for="Left">
								Left
							</label>
							<input class="form-control"  />
						</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
							 
							<label for="Right">
								Right
							</label>
							<input class="form-control" />
						</div>
				</div>
				<div class="col-md-4">
					<button type="button" class="btn btn-default">
						Default
					</button> 
				</div>
                </form>
			</div>
		</div>
	</div>
</div>